/* =====================================
   SETTINGS PAGE
===================================== */

.page-title{

    color:#1e293b;

    margin-bottom:25px;

}



/* ===============================
   SETTINGS CARD
================================ */

.settings-card{

    background:#fff;

    padding:30px;

    border-radius:15px;

    margin-bottom:25px;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

    max-width:700px;

}


.settings-card h3{

    margin-bottom:25px;

    color:#1e293b;

}



/* ===============================
   FORM
================================ */


.form-group{

    margin-bottom:20px;

}


.form-group label{

    display:block;

    margin-bottom:8px;

    color:#475569;

    font-weight:500;

}


.form-group input{

    width:100%;

    padding:13px 15px;

    border:1px solid #d1d5db;

    border-radius:10px;

    outline:none;

    font-size:15px;

}


.form-group input:focus{

    border-color:#2563eb;

    box-shadow:0 0 5px rgba(37,99,235,.2);

}



/* ===============================
   BUTTONS
================================ */


.buttons{

    display:flex;

    gap:15px;

    margin-top:25px;

}


.save-btn,
.reset-btn{

    padding:12px 25px;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-size:15px;

    transition:.3s;

}


.save-btn{

    background:#2563eb;

    color:white;

}


.save-btn:hover{

    background:#1d4ed8;

}



.reset-btn{

    background:#ef4444;

    color:white;

}


.reset-btn:hover{

    background:#dc2626;

}



/* ===============================
   THEME SWITCH
================================ */


.theme-switch{

    display:flex;

    justify-content:space-between;

    align-items:center;

}



.switch{

    position:relative;

    width:60px;

    height:30px;

}


.switch input{

    display:none;

}



.slider{

    position:absolute;

    inset:0;

    background:#cbd5e1;

    border-radius:30px;

    cursor:pointer;

    transition:.3s;

}



.slider:before{

    content:"";

    position:absolute;

    width:24px;

    height:24px;

    left:3px;

    top:3px;

    background:white;

    border-radius:50%;

    transition:.3s;

}



.switch input:checked + .slider{

    background:#2563eb;

}



.switch input:checked + .slider:before{

    transform:translateX(30px);

}



/* ===============================
   DARK MODE
================================ */


body.dark{

    background:#0f172a;

}



body.dark .settings-card,
body.dark .chart-box,
body.dark .activity{

    background:#1e293b;

    color:white;

}



body.dark h2,
body.dark h3,
body.dark label{

    color:white;

}



/* ===============================
   MOBILE
================================ */


@media(max-width:768px){


.settings-card{

    padding:20px;

}


.buttons{

    flex-direction:column;

}


.save-btn,
.reset-btn{

    width:100%;

}


}